$green: #5F9C3E;
$red: #7e2222;
.green {
    border: 1.3px solid $green;
    color: $green;
}

.red {
    border: 1.3px solid $red;
    color: $red;
}

.tag-container {
    padding: .25rem .5rem;
    border-radius: 5px;
}

.tag-text {
    font-size: 11px;
}