@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat;
}

section {
  padding: 1rem 0rem;
}

.section-header {
  font-size: 25px;
  font-weight: bold;
}

a:link {
  color: #9cd9a5;
  font-family: Montserrat;
  background-color: transparent;
  text-decoration: none;
}

.label {
  width: 80%;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}
/* Full-width input fields */
.inputSign {
  width: 80%;
  padding: 15px;
  margin-bottom: 22px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px;
  border-style: solid;
  border-radius: 15px;
  border-color: #adadad;
  background: #fefefe;
}

/* Set a style for all buttons */
.button {
  background-color: #9cd9a5;
  color: black;
  font-family: Montserrat;
  font-weight: bold;
  padding: 14px 20px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Add padding to container elements */
.container {
  padding: 16px;
  width: "100%";
}

/* The Modal (background) */
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  border-radius: 15px;
  width: 40%; /* Could be more or less, depending on screen size */
}

.x-btn {
  margin-left: auto;
  margin-right: 0;
}

.company-icon {
  width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.greeting {
  text-align: center;
  font-weight: bold;
}

.addtnl-txt {
  text-align: center;
}

/* The Close Button (x) */
.close {
  float: inline-end;
  font-size: 20px;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}

.dropdown-toggle {
  cursor: pointer;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0; /* Update the right property to 0 */
  width: 200px;
  background-color: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style-type: none;
  margin: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.dropdown-menu li {
  margin-bottom: 10px;
}

.dropdown-menu a {
  display: block;
  padding: 8px 12px;
  color: #333;
  text-decoration: none;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.dropdown-menu a:hover {
  background-color: #f5f5f5;
}

a.nav-item {
  display: inline-block;
  position: relative;
  color: #000000;
}

a.nav-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #9cd9a5;
  transform-origin: bottom;
  transition: transform 0.25s ease-out;
}

a.nav-item:hover:after {
  transform: scaleX(1);
}

.rounded-home-chip.active-chip {
  background-color: #9cd9a5;
  box-shadow: 0px 4px 8px 0px #00000040;
}

.rounded-home-chip.inactive-chip {
  background-color: #ebebeb;
}

.rounded-home-chip:hover {
  box-shadow: 0px 4px 8px 0px #00000040;
  transition: box-shadow 100ms ease-out;
}